*{
    margin: 0 ;
}


/* Font from google */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  /* hide the menu icon and hr*/
  .menu-icon,hr{
    display: none;
  }
  /* Colors */
  .black{
      color: #111111;
  }
  
  .black-light{
    color: #000000;
  }
 
  /* } common Button */
  .black-btn{
    background-color: #111111;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 170px;
    height: 40px;
  }
  /* Nav Section */
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  nav>div{
    display: flex;
  }
  .nav-title{
    font-size: 32px;
  font-weight: bold;
  padding-top: 15px;
  }
  .nav-menu{
    font-size: 20px;
    font-weight: medium;
    list-style: none;
    display: flex;
    gap: 15px;
  }
  nav>ul>li>a{
    text-decoration: none;
  }
  .nav-btn{
    background-color:#FEA301 ;
    color:#FFFFFF ;
    padding:10px ;
    font-size:20px ;
    font-weight: semibold;
    border: none;
    border-radius:12px ;
    width: 170px;
    height: 40px;
  }
  .Home{
    color:#FEA301 ;
  }
  .About{
    color: #01ACFD;
  }
  .Facilities{
    color: #05D4DF;
  }
  .Admission{
    color:#5D58EF ;
  }

    /* Banner Section */
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px;
        margin-top: 30px;
        gap: 60px;
    }
    .banner-title{
        font-size: 55px;
        font-weight: bold;
    }
    .empower{
        color:#FEA301 ;
    }
    .towards-vision{
        color: #01ACFD;
    }
    .banner-text{
        font-size:18px ;
        font-weight:regular;
        padding-top: 25px;
        padding-bottom: 25px;

    }
        /* Responsive Section for Mobile Phone */

@media screen and (max-width: 576px) {
    .nav-title, .nav-menu,.nav-btn{
        display: none;
    }
    .menu-icon{
        display: flex;
}  
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
hr{
    display: flex;
    border: none;
    background-color: #FEA301;
    height: 1px;
    margin-top: 20px;
}
.banner{
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.banner-description{
    text-align: center;
}
.banner-title{
    font-size: 45px;
}
.banner-text{
    font-size: 15px;
}
}