* {
    margin: 0;
}


/* Font from google */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* hide the menu icon and hr*/
.menu-icon,
hr {
    display: none;
}

/* Colors */
.black {
    color: #111111;
}

.black-light {
    color: #000000;
}

/* } common Button */
.black-btn {
    background-color: #111111;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 170px;
    height: 40px;
}
body{
    background-color: #f7f7f7;
}

/* Nav Section */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

nav>div {
    display: flex;
}

.nav-title {
    font-size: 32px;
    font-weight: bold;
    padding-top: 15px;
}

.nav-menu {
    font-size: 20px;
    font-weight: medium;
    list-style: none;
    display: flex;
    gap: 15px;
}

nav>ul>li>a {
    text-decoration: none;
}

.nav-btn {
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    font-weight: semibold;
    border: none;
    border-radius: 12px;
    width: 170px;
    height: 40px;
}

.Home {
    color: #FEA301;
}

.About {
    color: #01ACFD;
}

.Facilities {
    color: #05D4DF;
}

.Admission {
    color: #5D58EF;
}

/* Banner Section */
.banner {
    display: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 105px;
    margin-top: 30px;
    gap: 60px;
}

.banner-title {
    font-size: 55px;
    font-weight: bold;
}

.empower {
    color: #FEA301;
}

.towards-vision {
    color: #01ACFD;
}

.banner-text {
    font-size: 18px;
    font-weight: regular;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* main Section */
main {
    background-image: url(../assets/bg.png);
   
}

/* Card Section */
.curriculum {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 105px;
    gap: 25px;
}

.cards {
    border: none;
    border-radius: 18px;
    background-color: #FFFFFF;
    text-align: center;
    width: 360px;
    height: 430px;
}
.card-img{
    padding-top: 30px;
} 

.card-title {
    font-size:24px ;
    font-weight: bold;
    padding-top: 30px;
    color: #202020;
}
.card-title-1{
    font-size:24px ;
    font-weight: bold;
    padding-top: 15px;
    color: #202020;
}

.card-info {
    font-size: 15px;
    font-weight: medium;
    padding-top: 30px;
    color: #808080;
}

.card-1-read-more {
    color:#64C8FF ;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-2-read-more {
    color:#F0AA00 ;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-3-read-more {
    color:#8700FF ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-1{
    background-image: linear-gradient(#DEF5FF 30%, #FFFFFF 70%)
    
}
.card-2{
    background-image: linear-gradient(#FFF4DC 30%, #FFFFFF 70%);
}
.card-3{
    background-image: linear-gradient(#F2E8FF 30%, #FFFFFF 70%);
}
.icon-container{
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
    color: #FFFFFF;
    align-items: center;
}
#less-than-icon{
    background-color: #FEA301;
    border: none;
    width: 70px;
    height: 55px;
    border-radius: 50%;
    padding-top: 25px;
}
#greater-than-icon{
    background-color: #FEA301;
    border: none;
    width: 70px;
    height: 55px;
    border-radius: 50%;
    padding-top: 25px;
}

     /* Story Section */
     .our-stories{
        font-size:45px ;
        font-weight:bold ;
        text-align: center;
        margin-top:60px ;
        margin-bottom:60px ;
     }
     .story-section{
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px ;
     }
     .small-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
     }
    
     .big-card{
        width: 520px;
        height: 550px;
        border: 1px solid red;
        border-radius: 16px;
        background-color:#FFFFFF ;
    
      
        
     }
     .small-card{
        width: 260px;
        height: 260px;
        border: 1px solid red;
        border-radius: 16px;
        background-color: #FFFFFF;
       
     }
     .story-img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
       
     }
     .big-card-img{
        overflow: visible;
        position: relative;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
     }
     .big-card-title{
        font-size: 24px ;
        font-weight:bold ;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;
     }
     .big-card-text{
        font-size: 15px ;
        font-weight: medium ;
        margin-left: 20px;
        padding: 20px;
        padding-bottom: 20px;
        color: #666666;
     }

     .small-card-title{
        font-size: 15px ;
        font-weight: bold ;
        padding: 20px;
     }
     .big-card-btn{
        display: inline-block;
        margin-left: 20px;
        color: #FFFFFF;
        position: absolute;
        cursor: pointer;
        background-color:#3CD8E8 ;
        padding:15px 20px ;
        border: none;
        border-radius:40px ;
        font-size: 15px;
        bottom: -20px;
        left: 20px;
     }

     .black-btn-2{
        display: flex;
        justify-content: center;
     }
     



/* Responsive Section for Mobile Phone */

@media screen and (max-width: 576px) {

    .nav-title,
    .nav-menu,
    .nav-btn,
    .icon-container{
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;

    }

    hr {
        display: flex;
        border: none;
        background-color: #FEA301;
        height: 1px;
        margin-top: 20px;
        max-width: 100%;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0%;
        margin-bottom: 30px;


    }

    .banner-description {
        text-align: center;
        max-width: 80%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .banner-title,
    .curriculum {
        font-size: 32px;
        padding: 0;
    }
    /* .curriculum {
        margin-top: px;
    } */

    .banner-text {
        font-size: 15px;
    }

    .banner-img {
        max-width: 90%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }
    .card-section{
        flex-direction: column;
        max-width: 100%;
        height: auto;
        margin-top: 25px;

    }
    .cards {
        max-width: 330px;
        height: 395px;
    }
    .card-title {
        font-size:20px ;
}
.card-info {
    font-size: 13px;
    padding: 10px;
}
}